
*.d
*.o
*.so
*.log
*.status
*.vars
*.Po
*.Plo
.log.txt.swp
daphne.bin
log.txt
src/vldp2/autotools/Makefile
src/vldp2/doc/Makefile
src/vldp2/include/config.h
src/vldp2/include/Makefile
src/vldp2/include/stamp-h1
src/vldp2/libmpeg2/libmpeg2.pc
src/vldp2/libmpeg2/Makefile
src/vldp2/libtool
src/vldp2/libvo/Makefile
src/vldp2/Makefile
src/vldp2/src/Makefile
src/vldp2/test/Makefile
src/vldp2/vc++/Makefile
